@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
@import 'tailwindcss';


@font-face {
  font-family: 'Inter:Semi Bold';
  src: url('https://static.figma.com/font/Inter_1') format('woff2');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'Inter:Medium';
  src: url('https://static.figma.com/font/Inter_1') format('woff2');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Inter:Extra Bold';
  src: url('https://static.figma.com/font/Inter_1') format('woff2');
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: 'Inter:Bold';
  src: url('https://static.figma.com/font/Inter_1') format('woff2');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Inter:Regular';
  src: url('https://static.figma.com/font/Inter_1') format('woff2');
  font-style: normal;
  font-weight: 400;
}
